/***************/
/* FONTS       */
/***************/

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Teko-Light.ttf') format('truetype');
}
    
@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Teko-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Teko-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Teko-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Teko-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: semi-bold;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: black;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/Montserrat-Black.ttf') format('truetype');
}